/* Аккаунт */

.profile-container {
    width: 70%;
    margin: 50px auto;
    background-color: #fff;
    color: #333;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.profile-header {
    text-align: center;
    margin-bottom: 30px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.order-table th, .order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.order-table th {
    background-color: #f4f4f4;
    color: #333;
}
/* Заказ */

.order-form-container {
    width: 70%;
    margin: 50px auto;
    background-color: #fff;
    color: #333;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-bottom: 8px;
    color: #6b3c25;
}

input, textarea, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

textarea {
    resize: none;
}

input:focus, textarea:focus, select:focus {
    border-color: #ffbd72;
    outline: none;
}

.submit-btn {
    padding: 15px 30px;
    background-color: #c36e32;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #a65b29;
}

textarea[readonly] {
    background-color: #f9f9f9;
    color: #666;
    cursor: not-allowed;
}