{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация и Авторизация</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</head>
<body>
    <div class="wraper" id="app">
        <header>
            <!-- мини-навигация-->
            <div class="header">
              <section class="header__logo"><a href="{% url 'admin-main' %}"> <img src="{% static 'img/logo_transparent_white.svg' %}" alt=""></a></section>
              <nav class="header__menu">
                <div class="burger-button header__menu_button">
                    <span class="burger-top burger"></span>
                    <span class="burger-middle burger"></span>
                    <span class="burger-bottom burger"></span>
                </div>
                <div class="burger-menu">
                    <a class="check" href="{% url 'account' %}">
                        {% if user.is_authenticated %}
                        {{ user.first_name }}
                        <a href="{% url 'logout' %}" id="logout-link">Выйти</a>
                        {% else %}
                        <a href="{% url 'admin-login' %}">Войти</a>
                        {% endif %}
                    </a>
                        <a class="check" href="{% url 'admin-main' %}#main">Главная</a>
                        <a class="check" href="{% url 'admin-main' %}#info-project">О пряниках</a>
                        <a class="check" href="{% url 'admin-main' %}#info-mesto">Немного истории</a>
                        <a class="check" href="{% url 'admin-main' %}#galary">Галерея мероприятий</a>
                        <a class="check" href="{% url 'admin-main' %}#Catalog">Каталог</a>
                        <a class="check" href="{% url 'admin-main' %}#construct">Конструктор</a>
                </div>
              </nav>
            </div>

    <!-- Основной блок регистрации/авторизации -->
    <main>
        <section class="auth">
            <div class="container auth-container">
                <div class="form-wrapper" id="login-form">
                    <h1>Авторизация</h1>
                    <form id="login-form">
                        <div class="form-group">
                            <label for="login-email">Email</label>
                            <input type="email" id="email" name="email" placeholder="Введите ваш email">
                        </div>
                        <div class="form-group">
                            <label for="login-password">Пароль</label>
                            <input type="password" id="password" name="password" placeholder="Введите ваш пароль">
                        </div>
                        <button type="submit" class="auth-button">Войти</button>
                    </form>
                    <p id="message"></p>
                    <p class="form-footer">Нет аккаунта? <a href="#" onclick="showForm('register')">Зарегистрируйтесь</a></p>
                </div>
                
                <!-- Форма регистрации -->
                <div class="form-wrapper hidden" id="register-form">
                    <h1>Регистрация</h1>
                    <form id="reg-form" method="POST" class="auth-form">
                        <div class="form-group">
                            <label for="register-username">Имя</label>
                            <input type="text" id="name" name="name" placeholder="Введите ваше имя">
                        </div>
                        <div class="form-group">
                            <label for="register-uservorname">Фамилия</label>
                            <input type="text" id="surname" name="surname" placeholder="Введите вашу фамилию">
                        </div>
                        <div class="form-group">
                            <label for="register-number">Номер телефона</label>
                            <input type="tel" id="number" name="number" placeholder="+7 (___) ___-__-__">
                        </div>
                        <div class="form-group">
                            <label for="register-email">Email</label>
                            <input type="email" id="emailreg" name="emailreg" placeholder="Введите ваш email">
                        </div>
                        <div class="form-group">
                            <label for="register-password">Пароль</label>
                            <input type="password" id="passwordreg" name="passwordreg" placeholder="Введите ваш пароль">
                        </div>
                        <button type="submit" class="auth-button">Зарегистрироваться</button>
                        <p id="messagereg"></p>
                    </form>
                    <p class="form-footer">Уже есть аккаунт? <a href="#" onclick="showForm('login')">Войдите</a></p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container footer-container">
            <p>ГорПО &laquo;Урал&raquo; (г.Шадринск)</p>
        </div>
    </footer>
    <script>
        $(document).ready(function () {
            $('#login-form').on('submit', function (e) {
                e.preventDefault();
                const email = $('#email').val();
                const password = $('#password').val();

                $.ajax({
                    url: '{% url "login" %}',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ email: email, password: password }),
                    success: function (response) {
                        window.location.href = '{% url "admin-main" %}';
                    },
                    error: function (xhr) {
                        const response = JSON.parse(xhr.responseText);
                        $('#message').text(response.message);
                    }
                });
            });
        });

        $(document).ready(function () {
            $('#reg-form').on('submit', function (e) {
                e.preventDefault();
                const email = $('#emailreg').val();
                const password = $('#passwordreg').val();
                const name = $('#name').val();
                const surname = $('#surname').val();
                const number = $('#number').val();

                $.ajax({
                    url: '{% url "register" %}',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ email: email, password: password, first_name: name, last_name: surname, number: number}), 
                    success: function (response) {
                        $('#messagereg').text(response.message);
                    },
                    error: function (xhr) {
                        const response = JSON.parse(xhr.responseText);
                        $('#messagereg').text(response.message);
                    },
                });
            });
        });
    </script>
    <script>
        function showForm(formType) {
            const loginForm = document.getElementById('login-form');
            const registerForm = document.getElementById('register-form');
            const buttons = document.querySelectorAll('.tab-button');
        
            if (formType === 'login') {
                loginForm.classList.remove('hidden');
                registerForm.classList.add('hidden');
                buttons[0].classList.add('active');
                buttons[1].classList.remove('active');
            } else {
                registerForm.classList.remove('hidden');
                loginForm.classList.add('hidden');
                buttons[1].classList.add('active');
                buttons[0].classList.remove('active');
            }
        }
    </script>
</body>
</html>
